@keyframes header {
  0%{color: blue;}
  25%{color: #143a0f;}
  50%{color: #53197a;}
  75%{color: #911380;}
  100%{color: #ac1a39;}
}

header{
  background-color: coral;
  height: 200px;
  font: italic 900 150px fantasy;
  color: blue;
  text-align: center;
  animation-duration: 3s;
  animation-name: header;
  animation-iteration-count: infinite;
  animation-direction: alternate;
} 
#nav{
  width: 95%;
  margin: auto;
}
.nav{
  
  background-color: blueviolet;
  
  border: rgb(22, 90, 48) 2px solid;
  border-radius: 20px;
  font-size: 50px;
  display:inline;
  padding: 0px 20px;
 margin: 0 20px;
}
#buy img{
  width: 130px;
  border: red 5px solid;
  margin-top: 20px;
  padding: 10px;
  
}
img{
  width: 70px;
}


